// VARIABLES //


$color-white: 			#FFFFFF;
$color-black: 			#000000;
$color-morg-red:		#8D0000;


$font-weight-light: 	300;
$font-weight-regular: 	400;
$font-weight-bold: 		700;

$font-size-base: 		18;
$font-family-base: 		'Source Sans Pro', Tahoma, sans-serif;